# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# MkDocs build output
site/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json